.footer-container { 
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width:100%;

}
.website-rights { 
    color: #fff;
    margin-bottom: 18px;
}